@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

*{
    font-family: 'Birthstone', cursive;
}

.titulo{
    text-align: center;
}
.nombreraza{
    width: 25%;
}
.raza{

text-align: center;

}

.container{
    width: 100%;
    text-align: center;
}

.imagen{
    width: 25%;
    height: 25%;
}

.descripcion{
    width: 25%;
    margin: 0px;
    text-align: center;
}

p, h3{
    text-align: center;
    display: inline;
}